@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;523;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;523;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  margin: 0 auto;
  font-family: "Dosis", sans-serif;
}

a:hover {
  cursor: pointer;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.hr {
  border: 1px solid #eeeeee;
}

.header {
  background-image: url(../img/banner_BG.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.header__top {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.header__logo_text {
  font-size: 36px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}
.header__nav_ul {
  display: flex;
}
.header__nav_list {
  list-style: none;
  padding: 10px;
}
.header__nav_link {
  display: block;
  border-radius: 17.5px;
  text-decoration: none;
  padding-left: 25px;
  padding-right: 25px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 35px;
  font-weight: 400;
  color: #ffffff;
}
.header__nav_link:hover {
  background-color: #ffffff;
  color: #222222;
}
.header__banner {
  padding-bottom: 7%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.header__banner_h3 {
  font-size: 54px;
  line-height: 60px;
  font-weight: 600;
  color: #ffffff;
}
.header__banner_text {
  width: 65%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
}
.header__banner_list {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #ffffff;
}
.header__banner_list_img {
  margin-right: 10px;
}
.header__banner_button {
  margin-top: 3%;
  padding: 0 3%;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  color: #222222;
}

.offers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 5%;
}
.offers__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15%;
}
.offers__item_label {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eeeeee;
  border-radius: 50%;
  padding: 7%;
}
.offers__item_text {
  padding: 0 5%;
}
.offers__item_h3 {
  font-size: 22px;
  line-height: 50px;
  font-weight: 500;
  color: #222222;
}
.offers__item_p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
  color: #777777;
}

.banner_2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 2%;
}
.banner_2__content {
  display: flex;
  align-items: center;
}
.banner_2__content_h3 {
  font-size: 36px;
  line-height: 30px;
  font-weight: 500;
  color: #222222;
}
.banner_2__content_p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #777777;
  padding-top: 5%;
}
.banner_2__content_list {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  color: #777777;
  padding-top: 5%;
}

.slider_my {
  background-color: #f7fafc;
  text-align: center;
}
.slider_my__text {
  padding-top: 10%;
  width: 36%;
}
.slider_my__text_h3 {
  grid-column-start: 2;
  grid-column-end: 5;
  font-size: 36px;
  line-height: 50px;
  font-weight: 500;
  color: #222222;
}
.slider_my__text_p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 50px;
  font-weight: 300;
  color: #777777;
}
.slider_my__show {
  width: 100%;
}
.slider_my__show_ul {
  width: 80%;
}

.slider {
  position: relative;
  width: 100%;
  max-width: 100%;
}
.slider__inner {
  display: flex;
  position: relative;
  align-items: center;
  max-width: 80%;
  height: 750px;
  margin: 0 auto;
}
.slider__item {
  position: absolute;
  height: 300px;
  width: 200px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: -1;
  pointer-events: none;
  user-select: none;
}
.slider__item-trigger-next {
  left: 15%;
  transform: translateX(-50%);
}
.slider__item-trigger-previous {
  left: 85%;
  transform: translateX(-50%);
}
.slider__item-selected {
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  height: 500px;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  z-index: 2;
}
.slider__item-previous, .slider__item-next {
  height: 350px;
  opacity: 1;
  z-index: 1;
}
.slider__item-last, .slider__item-first {
  opacity: 0.4;
  z-index: 0;
}
.slider__item-previous {
  left: 30%;
  transform: translateX(-50%);
}
.slider__item-next {
  left: 70%;
  transform: translateX(-50%);
}
.slider__item-first {
  left: 15%;
  transform: translateX(-50%);
}
.slider__item-last {
  left: 85%;
  transform: translateX(-50%);
}
.slider__item-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.slider__item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.slider__item-datas {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.5rem 0;
  background-color: rgba(255, 255, 255, 0.75);
  text-align: center;
  font-family: "Arial", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.slider__controls {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.slider__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: 3px solid #eeeeee;
  border-radius: 50%;
  font-size: 14px;
}
.slider__nav:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  background-color: #000000;
  background-image: linear-gradient(90deg, #fd712c 0%, #f21780 100%);
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: #ffffff;
}
.slider__nav-previous, .slider__nav-next {
  border: 0;
  cursor: pointer;
  font-size: 20px;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.75);
  padding: 0;
}
.slider__nav-previous:focus, .slider__nav-next:focus {
  outline: none;
}

.pricing {
  margin-bottom: 10%;
}
.pricing__title {
  text-align: center;
  padding: 10%;
}
.pricing__title_h3 {
  font-size: 36px;
  line-height: 30px;
  font-weight: 500;
  color: #222222;
  margin-bottom: 3%;
}
.pricing__title_p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #777777;
}

.pricing__block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 3%;
}
.pricing__block_item {
  text-align: center;
  background-color: #f7fafc;
}
.pricing__block_item:hover {
  background-color: #ffffff;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
}
.pricing__block_item:hover .pricing__block_price {
  background: linear-gradient(90deg, #fd712c 0%, #f21780 100%);
  color: #ffffff;
}
.pricing__block_item:hover .pricing__block_button {
  background-image: linear-gradient(90deg, #fd712c 0%, #f21780 100%);
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.pricing__block_item_name {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #333333;
  padding: 5%;
}
.pricing__block_price {
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 50% 100%, 0% 75%);
  background: #ffffff;
  height: 120px;
  font-size: 48px;
  line-height: 24px;
  font-weight: 500;
  color: #333333;
}
.pricing__block_price sub, .pricing__block_price sup {
  font-size: 18px;
}
.pricing__block_ul {
  padding: 15%;
}
.pricing__block_list {
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
  color: #777777;
}
.pricing__block_link {
  display: block;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: 300;
  color: #aaaaaa;
}
.pricing__block_button {
  background-color: #ffffff;
  border: 3px solid #eeeeee;
  border-radius: 20px;
  padding: 5% 10%;
  margin: 10% 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: 500;
  color: #333333;
}

.video {
  position: relative;
}
.video__button {
  position: absolute;
  left: 48%;
  top: 35%;
  font-size: 25px;
  border-radius: 50%;
  background-image: linear-gradient(90deg, #fd712c 0%, #f21780 100%);
  padding: 1%;
  color: #ffffff;
  border: none;
}
.video__button:hover {
  color: #333333;
}

.testimonials {
  padding-bottom: 10%;
}
.testimonials__title {
  text-align: center;
}
.testimonials__title_h3 {
  font-size: 36px;
  line-height: 30px;
  font-weight: 500;
  color: #222222;
  padding-top: 10%;
  padding-bottom: 5%;
}
.testimonials__title_p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #777777;
  padding-bottom: 10%;
}
.testimonials__slider_items {
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f7fafc;
  padding: 10%;
  height: 200px !important;
}
.testimonials__slider_items__text_p {
  padding: 3%;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #777777;
}
.testimonials__slider_items_photo {
  border-radius: 50%;
  padding-right: 5%;
}
.testimonials__slider_items_person {
  display: flex;
  justify-content: left;
  align-items: center;
}
.testimonials__slider_items_name {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #222222;
}
.testimonials__slider_items_job {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #777777;
}

.slider__nav_slick_left {
  position: absolute;
  top: 40%;
  left: -10%;
}

.slider__nav_slick_right {
  position: absolute;
  top: 40%;
  right: -10%;
}

.slick-slide {
  margin: 10px !important;
}
.slick-slide:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.slick-slide:hover .testimonials__slider_items {
  background-color: #ffffff;
}

.download {
  background-color: #222222;
  background-image: linear-gradient(90deg, #fd712c 0%, #f21780 100%);
  padding: 5% 0;
}
.download__h3 {
  font-size: 36px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  padding: 7% 0;
  text-align: center;
}
.download__app {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3%;
}
.download__app_item {
  display: flex;
  align-items: center;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
  border-radius: 3px;
}
.download__app_text {
  padding: 0 5%;
}
.download__app_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 115px;
  width: 115px;
  background-color: #f7fafc;
  color: #777777;
}
.download__app_logo-img {
  height: 50px;
}
.download__app_download {
  font-size: 30px;
  line-height: 50px;
  font-weight: 700;
  color: #222222;
}
.download__app_store {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #777777;
}

.android:hover .download__app_logo-img {
  content: url("../img/android_icon_color.png");
  height: 50px;
}

.mac:hover .download__app_logo-img {
  content: url("../img/mac_icon_color.png");
  height: 50px;
}

.win:hover .download__app_logo-img {
  content: url("../img/windows_icon_color.png");
  height: 50px;
}

.footer {
  background-color: #222222;
  color: #ffffff;
  text-align: center;
  padding: 3% 0;
}
.footer__copyright {
  padding: 1% 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
}
.footer__social_link {
  text-decoration: none;
  padding: 1%;
  font-size: 18px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
}
.footer__social_link:hover {
  color: #f31f79;
}

@media (min-width: 900px) and (max-width: 1024px) {
  .container {
    width: 90%;
  }

  .banner_2 > div > img {
    width: 100%;
  }

  .slider__nav_slick_right {
    right: -4%;
  }

  .slider__nav_slick_left {
    left: -4%;
  }

  .slider__controls-previous {
    position: absolute;
    left: -5%;
  }

  .slider__controls-next {
    position: absolute;
    right: -5%;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  .container {
    width: 95%;
  }

  .header__logo > img {
    width: 30%;
  }

  .banner_2 > div > img {
    width: 100%;
  }

  .slider__controls {
    display: none;
  }

  .download__h3 {
    padding: 3% 0;
  }

  .download__app_logo {
    width: 70px;
    height: 70px;
  }
  .download__app_download {
    font-size: 24px;
    line-height: 30px;
  }
  .download__app_store {
    line-height: 20px;
  }

  .slider__nav_slick_right, .slider__nav_slick_left {
    display: none !important;
  }
}
@media (max-width: 599px) {
  .container {
    width: 95%;
  }

  .header {
    background-size: cover;
  }
  .header__logo {
    height: fit-content;
  }
  .header__logo_text {
    font-size: 20px;
  }
  .header__logo_text > img {
    width: 25%;
  }
  .header__nav_link {
    padding: 0;
    line-height: 25px;
  }
  .header__nav_list {
    padding: 0 4px;
  }
  .header__banner_h3 {
    font-size: 15px;
    line-height: 30px;
  }
  .header__banner_text {
    width: 65%;
    padding: 0 10px;
    font-size: 14px;
    line-height: 25px;
  }
  .header__banner_list {
    font-size: 14px;
    line-height: 20px;
  }
  .header__banner_list_img {
    margin-right: 5px;
    font-size: 12px;
    line-height: 16px;
  }
  .header__banner_button {
    padding: 0 1%;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 25px;
    margin-top: 2%;
  }

  .offers {
    grid-template-columns: 1fr;
    padding-top: 10%;
  }
  .offers__item {
    padding-bottom: 3%;
  }
  .offers__item_label {
    padding: 3%;
  }
  .offers__item_text {
    padding-left: 3%;
  }
  .offers__item_h3 {
    font-size: 16px;
    line-height: 20px;
  }
  .offers__item_p {
    line-height: 20px;
  }

  .banner_2 {
    display: block;
  }
  .banner_2 > div > img {
    width: 100%;
  }

  .slider_my {
    margin-top: 5%;
  }
  .slider_my__text {
    padding-top: 10%;
    line-height: 25px;
  }
  .slider_my__text_h3 {
    font-size: 20px;
  }
  .slider_my__text_p {
    line-height: 25px;
  }

  .slider__inner {
    height: 540px;
  }

  .pricing__title {
    padding: 3%;
  }
  .pricing__title_h3 {
    font-size: 25px;
  }

  .pricing__block {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3%;
  }
  .pricing__block_price {
    height: 100px;
    font-size: 40px;
  }
  .pricing__block_ul {
    padding: 0;
  }
  .pricing__block_list {
    line-height: 24px;
  }

  .slider__nav_slick_right, .slider__nav_slick_left {
    display: none !important;
  }

  .download__app {
    grid-template-columns: 1fr;
    grid-row-gap: 1%;
  }
}

/*# sourceMappingURL=main.css.map */
